{
  "presets": [["env", {
      "targets": {
        "chrome": 52
      },
      "modules": false,
      "loose": true
    }], "stage-3"],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
