
.list {
  background: #fff;
  // padding-top: 10px;
  font-family: PingFang-SC-Regular;
}
.header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-bottom: 0.5px solid #eee;
  background: #fff;
  font-family: PingFang-SC-Regular;
}

.item {
  display: flex;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #333;
  background: #FFF;

  &-label {
    width: 60px;
    min-width: 60px;
    padding-left: 15px;
  }
  &-input {
    flex: 1;
    font-family: PingFang-SC-Regular;
    font-size: 16px;
    color: #333;

    margin: 0;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    -webkit-appearance: none;
    background-image: none;
    border: none;
    box-shadow: none;

    &:-webkit-input-placeholder {
      color: #999;
    }
  }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-family: PingFang-SC-Medium;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background: #229d94;
}

.modal {
  background: #FFF;
  width: 325px;
  margin: 150px auto auto auto;
  font-family: PingFang-SC-Regular;
  padding-bottom: 5px;
  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
  }
  &-header {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  &-item {
    font-size: 15px;
    color: #666;
    padding: 10px;
    display: flex;
  }
  &-label {
    width: 80px;
    min-width: 100px;
  }
  &-txt {
    flex: 1;
    word-break: break-all;
  }
  &-btn {
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    width: 250px;
    font-size: 15px;
    color: #fff;
    background: #229d94;
    margin: 10px auto;
  }
}
